
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="icon" href="favicons/favicon.ico" sizes="any" />
        <!-- 32×32 -->
        <link rel="apple-touch-icon" href="favicons/apple-touch-icon.png" />
        <!-- 180×180 -->
        <link rel="icon" href="favicons/favicon.ico" />
        <!-- styles for initial page load -->
        <!-- <link rel="stylesheet" href="css/styles-start.css" />

        <link rel="preload" href="css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="css/style.css"></noscript> -->

        <!--<script type="text/javascript">
            (function(k) {
                let s=document.createElement('script');s.defer=true;
                s.src="https://cdn.feedbucket.app/assets/feedbucket.js";
                s.dataset.feedbucket=k;document.head.appendChild(s);
            })('UHWo2lassVDRyRiqp61F')
        </script>-->

        {{content_for_header}}
        {{ 'styles-start.css' | asset_url | stylesheet_tag }}
        {{ 'styles.css' | asset_url | stylesheet_tag }}
    </head>

    <body>
        <div class="global-wrapper" >
            {% section 'header' %}
            
            <main class="content">
                {{ content_for_layout }}
            </main>

            {% section 'footer' %}
        </div>

        <div id="modalVideo" class="modal">
        <div class="modal__backdrop"></div>

        <button data-modal-close class="modal__close" aria-label="Close">
            <svg width="12" height="12"><use xlink:href="{{ 'sprite.svg' | asset_url }}#close"></use></svg>
        </button>

        <div class="modal__wrapper">
            <div class="modal__content">
            <div class="modal__body">
                <div class="video-wrapper">
                <iframe src="" referrerpolicy="strict-origin-when-cross-origin" allow="autoplay; encrypted-media; fullscreen" allowfullscreen> </iframe>
                </div>
            </div>
            </div>
        </div>
        </div>

        {% comment %} BUY NOW MODAL {% endcomment %}
        {%- if settings.buy_now_modal_subtitle != blank or settings.buy_now_modal_heading_text != blank or settings.buy_now_modal_offer_title != blank or settings.buy_now_modal_offer_description != blank or settings.buy_now_modal_product != blank -%}
            <div id="buy-now" class="modal">
                <div class="modal__backdrop"></div>
                <div class="modal__wrapper">
                    <div class="modal__content">
                        <button data-modal-close class="modal__close" aria-label="Close">
                            <svg width="12" height="12"><use xlink:href="{{ 'sprite.svg' | asset_url }}#close"></use></svg>
                        </button>

                        <div class="modal__body">
                            <div class="products">
                                <div class="products__wrapper">

                                    {%- if settings.buy_now_modal_subtitle != blank or settings.buy_now_modal_heading_text != blank or settings.buy_now_modal_offer_title != blank or settings.buy_now_modal_offer_description != blank -%}
                                        <div class="products__col fade-in-wrapper">
                                            {%- if settings.buy_now_modal_subtitle != blank -%}
                                                <div class="subtitle">{{ settings.buy_now_modal_subtitle }}</div>
                                            {%- endif -%}
                                            
                                            {%- if settings.buy_now_modal_heading_text != blank -%}
                                                <h3>{{ settings.buy_now_modal_heading_text }}</h3>
                                            {%- endif -%}

                                            {%- if settings.buy_now_modal_offer_title != blank or settings.buy_now_modal_offer_description != blank -%}
                                                <div class="cp-offer">
                                                    {%- if settings.buy_now_modal_offer_title != blank -%}
                                                        <div class="cp-offer__title">
                                                            <svg width="24" height="24"><use xlink:href="{{ 'sprite.svg' | asset_url }}#badge"></use></svg>
                                                            {{ settings.buy_now_modal_offer_title }}
                                                        </div>
                                                    {%- endif -%}
                                                    
                                                    {%- if settings.buy_now_modal_offer_description != blank -%}
                                                        <p>{{ settings.buy_now_modal_offer_description }}</p>
                                                    {%- endif -%}
                                                </div>
                                            {%- endif -%}
                                        </div>
                                    {%- endif -%}

                                    <div class="products__col">
                                        <div class="products__grid">
                                            {%- if settings.buy_now_modal_product != blank -%}
                                                {%- for product in settings.buy_now_modal_product -%}
                                                    {% include 'product-card', product: product, show_sizes: false %}
                                                {%- endfor -%}
                                            {% else -%}
                                                {% for product in collections.all.products limit: 2 %}
                                                    {% include 'product-card', product: product, show_sizes: false %}
                                                {%- endfor -%}
                                            {%- endif -%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%- endif -%}

        <div id="modalCart" class="modal cart-modal">
        <div class="modal__backdrop"></div>

        <button data-modal-close class="modal__close" aria-label="Close">
            <svg width="12" height="12"><use xlink:href="{{ 'sprite.svg' | asset_url }}#close"></use></svg>
        </button>

        <div class="modal__wrapper">
            <div class="modal__content">
            <h3>Your <span>cart</span></h3>

            <div class="cart-item">
                <figure>
                <img src="images/cart1.webp" alt="image" />
                </figure>
                <div class="cart-item-details">
                <div class="cart-item-title">Replacement lithium battery (1x battery)</div>
                <div class="product-details__number">
                    <div class="product-number">
                    <button type="button" class="product-number-less">
                        <svg width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 0.75H8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <input type="text" class="product-number-input" value="1" />
                    <button type="button" class="product-number-more">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.75 0.75V8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M0.75 4.75H8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    </div>
                    <div class="product-details__price">$49.95</div>
                </div>
                </div>
            </div>

            <div class="cart-item">
                <figure>
                <img src="images/cart2.webp" alt="image" />
                </figure>
                <div class="cart-item-details">
                <div class="cart-item-title">Bundle pack: Replacement lithium batteries (3x batteries)</div>
                <div class="product-details__number">
                    <div class="product-number">
                    <button type="button" class="product-number-less">
                        <svg width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 0.75H8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <input type="text" class="product-number-input" value="1" />
                    <button type="button" class="product-number-more">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.75 0.75V8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M0.75 4.75H8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    </div>
                    <div class="product-details__price">$79.95</div>
                </div>
                </div>
            </div>

            <div class="cart-total"><strong>Subtotal:</strong> $129.90</div>

            <a href="#" class="button button--primary">
                <span class="button__wrapper">
                <span class="button__circle">
                    <svg width="13" height="9"><use xlink:href="{{ 'sprite.svg' | asset_url }}#arr-navy"></use></svg>
                </span>
                <span class="button__text">
                    <span>Checkout</span>
                    <span class="duplicate">Checkout</span>
                </span>
                <span class="button__circle">
                    <svg width="13" height="9"><use xlink:href="{{ 'sprite.svg' | asset_url }}#arr-blue"></use></svg>
                </span>
                </span>
            </a>
            </div>
        </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="{{ 'plugins.js' | asset_url }}" defer></script>
        <script src="{{ 'theme.js' | asset_url }}" defer></script>

    </body>
</html>