
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="icon" href="favicons/favicon.ico" sizes="any" />
        <!-- 32×32 -->
        <link rel="apple-touch-icon" href="favicons/apple-touch-icon.png" />
        <!-- 180×180 -->
        <link rel="icon" href="favicons/favicon.ico" />
        <!-- styles for initial page load -->
        <!-- <link rel="stylesheet" href="css/styles-start.css" />

        <link rel="preload" href="css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="css/style.css"></noscript> -->

        <!--<script type="text/javascript">
            (function(k) {
                let s=document.createElement('script');s.defer=true;
                s.src="https://cdn.feedbucket.app/assets/feedbucket.js";
                s.dataset.feedbucket=k;document.head.appendChild(s);
            })('UHWo2lassVDRyRiqp61F')
        </script>-->

        {{ 'styles-start.css' | asset_url | stylesheet_tag }}
        {{ 'styles.css' | asset_url | stylesheet_tag }}
    </head>

    <body>
        <div class="global-wrapper" >
            {{content_for_header}}
            
            <main class="content">
                {{ content_for_layout }}
            </main>

            {{ content_for_footer }}
        </div>

        <div id="modalVideo" class="modal">
        <div class="modal__backdrop"></div>

        <button data-modal-close class="modal__close" aria-label="Close">
            <svg width="12" height="12"><use xlink:href="images/sprite.svg#close"></use></svg>
        </button>

        <div class="modal__wrapper">
            <div class="modal__content">
            <div class="modal__body">
                <div class="video-wrapper">
                <iframe src="" referrerpolicy="strict-origin-when-cross-origin" allow="autoplay; encrypted-media; fullscreen" allowfullscreen> </iframe>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div id="buy-now" class="modal">
        <div class="modal__backdrop"></div>

        <div class="modal__wrapper">
            <div class="modal__content">
            <button data-modal-close class="modal__close" aria-label="Close">
                <svg width="12" height="12"><use xlink:href="images/sprite.svg#close"></use></svg>
            </button>
            <div class="modal__body">
                <div class="products">
                <div class="products__wrapper">
                    <div class="products__col fade-in-wrapper">
                    <div class="subtitle">Buy replacement batteries</div>
                    <h3>Get your <span>replacement</span> <span>batteries</span></h3>
                    <div class="cp-offer">
                        <div class="cp-offer__title">
                        <svg width="24" height="24"><use xlink:href="images/sprite.svg#badge"></use></svg>
                        Limited time special offer
                        </div>
                        <p>Use the unique code provided by your retailer at checkout for an exclusive discount.</p>
                    </div>
                    </div>
                    <div class="products__col">
                    <div class="products__grid">
                        <div class="products__item fade-in">
                        <figure class="products__item-img">
                            <a href="#"><img src="images/img05.webp" alt="image" /></a>
                        </figure>
                        <div class="products__item-info">
                            <h5><a href="#">Replacement lithium battery (1x battery)</a></h5>
                            <div class="products__item-price">$49.95</div>
                        </div>
                        <div class="products__item-button">
                            <button class="button button--primary btn-cart">
                            <span class="button__wrapper">
                                <span class="button__circle">
                                <svg width="13" height="9"><use xlink:href="images/sprite.svg#arr-navy"></use></svg>
                                </span>
                                <span class="button__text">
                                <span>Add to Cart</span>
                                <span class="duplicate">Add to Cart</span>
                                </span>
                                <span class="button__circle">
                                <svg width="13" height="9"><use xlink:href="images/sprite.svg#arr-blue"></use></svg>
                                </span>
                            </span>
                            <span class="btn-cart__loader">
                                <svg width="60" height="60" viewBox="0 0 38 38">
                                <g transform="translate(19 19)">
                                    <g transform="rotate(0)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.125"><animate attributeName="opacity" from="0.125" to="0.125" dur="1.2s" begin="0s" repeatCount="indefinite" keyTimes="0;1" values="1;0.125"></animate></circle>
                                    </g>
                                    <g transform="rotate(45)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.25"><animate attributeName="opacity" from="0.25" to="0.25" dur="1.2s" begin="0.15s" repeatCount="indefinite" keyTimes="0;1" values="1;0.25"></animate></circle>
                                    </g>
                                    <g transform="rotate(90)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.375"><animate attributeName="opacity" from="0.375" to="0.375" dur="1.2s" begin="0.3s" repeatCount="indefinite" keyTimes="0;1" values="1;0.375"></animate></circle>
                                    </g>
                                    <g transform="rotate(135)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.5"><animate attributeName="opacity" from="0.5" to="0.5" dur="1.2s" begin="0.44999999999999996s" repeatCount="indefinite" keyTimes="0;1" values="1;0.5"></animate></circle>
                                    </g>
                                    <g transform="rotate(180)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.625"><animate attributeName="opacity" from="0.625" to="0.625" dur="1.2s" begin="0.6s" repeatCount="indefinite" keyTimes="0;1" values="1;0.625"></animate></circle>
                                    </g>
                                    <g transform="rotate(225)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.75"><animate attributeName="opacity" from="0.75" to="0.75" dur="1.2s" begin="0.75s" repeatCount="indefinite" keyTimes="0;1" values="1;0.75"></animate></circle>
                                    </g>
                                    <g transform="rotate(270)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.875"><animate attributeName="opacity" from="0.875" to="0.875" dur="1.2s" begin="0.8999999999999999s" repeatCount="indefinite" keyTimes="0;1" values="1;0.875"></animate></circle>
                                    </g>
                                    <g transform="rotate(315)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="1"><animate attributeName="opacity" from="1" to="1" dur="1.2s" begin="1.05s" repeatCount="indefinite" keyTimes="0;1" values="1;1"></animate></circle>
                                    </g>
                                </g>
                                </svg>
                            </span>
                            </button>
                        </div>
                        </div>
                        <div class="products__item fade-in">
                        <figure class="products__item-img">
                            <a href="#"><img src="images/img06.webp" alt="image" /></a>
                        </figure>
                        <div class="products__item-info">
                            <h5><a href="#">Bundle pack: Replacement lithium batteries (3x batteries)</a></h5>
                            <div class="products__item-price">$79.95</div>
                        </div>
                        <div class="products__item-button">
                            <button class="button button--primary btn-cart">
                            <span class="button__wrapper">
                                <span class="button__circle">
                                <svg width="13" height="9"><use xlink:href="images/sprite.svg#arr-navy"></use></svg>
                                </span>
                                <span class="button__text">
                                <span>Add to Cart</span>
                                <span class="duplicate">Add to Cart</span>
                                </span>
                                <span class="button__circle">
                                <svg width="13" height="9"><use xlink:href="images/sprite.svg#arr-blue"></use></svg>
                                </span>
                            </span>
                            <span class="btn-cart__loader">
                                <svg width="60" height="60" viewBox="0 0 38 38">
                                <g transform="translate(19 19)">
                                    <g transform="rotate(0)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.125"><animate attributeName="opacity" from="0.125" to="0.125" dur="1.2s" begin="0s" repeatCount="indefinite" keyTimes="0;1" values="1;0.125"></animate></circle>
                                    </g>
                                    <g transform="rotate(45)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.25"><animate attributeName="opacity" from="0.25" to="0.25" dur="1.2s" begin="0.15s" repeatCount="indefinite" keyTimes="0;1" values="1;0.25"></animate></circle>
                                    </g>
                                    <g transform="rotate(90)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.375"><animate attributeName="opacity" from="0.375" to="0.375" dur="1.2s" begin="0.3s" repeatCount="indefinite" keyTimes="0;1" values="1;0.375"></animate></circle>
                                    </g>
                                    <g transform="rotate(135)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.5"><animate attributeName="opacity" from="0.5" to="0.5" dur="1.2s" begin="0.44999999999999996s" repeatCount="indefinite" keyTimes="0;1" values="1;0.5"></animate></circle>
                                    </g>
                                    <g transform="rotate(180)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.625"><animate attributeName="opacity" from="0.625" to="0.625" dur="1.2s" begin="0.6s" repeatCount="indefinite" keyTimes="0;1" values="1;0.625"></animate></circle>
                                    </g>
                                    <g transform="rotate(225)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.75"><animate attributeName="opacity" from="0.75" to="0.75" dur="1.2s" begin="0.75s" repeatCount="indefinite" keyTimes="0;1" values="1;0.75"></animate></circle>
                                    </g>
                                    <g transform="rotate(270)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.875"><animate attributeName="opacity" from="0.875" to="0.875" dur="1.2s" begin="0.8999999999999999s" repeatCount="indefinite" keyTimes="0;1" values="1;0.875"></animate></circle>
                                    </g>
                                    <g transform="rotate(315)">
                                    <circle cx="0" cy="12" r="3" fill="#fff" opacity="1"><animate attributeName="opacity" from="1" to="1" dur="1.2s" begin="1.05s" repeatCount="indefinite" keyTimes="0;1" values="1;1"></animate></circle>
                                    </g>
                                </g>
                                </svg>
                            </span>
                            </button>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div id="modalCart" class="modal cart-modal">
        <div class="modal__backdrop"></div>

        <button data-modal-close class="modal__close" aria-label="Close">
            <svg width="12" height="12"><use xlink:href="images/sprite.svg#close"></use></svg>
        </button>

        <div class="modal__wrapper">
            <div class="modal__content">
            <h3>Your <span>cart</span></h3>

            <div class="cart-item">
                <figure>
                <img src="images/cart1.webp" alt="image" />
                </figure>
                <div class="cart-item-details">
                <div class="cart-item-title">Replacement lithium battery (1x battery)</div>
                <div class="product-details__number">
                    <div class="product-number">
                    <button type="button" class="product-number-less">
                        <svg width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 0.75H8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <input type="text" class="product-number-input" value="1" />
                    <button type="button" class="product-number-more">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.75 0.75V8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M0.75 4.75H8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    </div>
                    <div class="product-details__price">$49.95</div>
                </div>
                </div>
            </div>

            <div class="cart-item">
                <figure>
                <img src="images/cart2.webp" alt="image" />
                </figure>
                <div class="cart-item-details">
                <div class="cart-item-title">Bundle pack: Replacement lithium batteries (3x batteries)</div>
                <div class="product-details__number">
                    <div class="product-number">
                    <button type="button" class="product-number-less">
                        <svg width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 0.75H8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <input type="text" class="product-number-input" value="1" />
                    <button type="button" class="product-number-more">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.75 0.75V8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M0.75 4.75H8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    </div>
                    <div class="product-details__price">$79.95</div>
                </div>
                </div>
            </div>

            <div class="cart-total"><strong>Subtotal:</strong> $129.90</div>

            <a href="#" class="button button--primary">
                <span class="button__wrapper">
                <span class="button__circle">
                    <svg width="13" height="9"><use xlink:href="images/sprite.svg#arr-navy"></use></svg>
                </span>
                <span class="button__text">
                    <span>Checkout</span>
                    <span class="duplicate">Checkout</span>
                </span>
                <span class="button__circle">
                    <svg width="13" height="9"><use xlink:href="images/sprite.svg#arr-blue"></use></svg>
                </span>
                </span>
            </a>
            </div>
        </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="{{ 'plugins.js' | asset_url }}" defer></script>
        <script src="{{ 'theme.js' | asset_url }}" defer></script>

    </body>
</html>