 <div class="container container--sm">
    <div class="footer__top">
        <div class="footer__logo">
            <a href="{{ routes.root_url }}"><img src="{{ 'logo-footer.svg' | asset_url }}" alt="logo" /></a>
        </div>
        {% if section.settings.footer_email != blank %}
            <div class="footer__mail">
                <a href="mailto:{{ section.settings.footer_email }}">{{ section.settings.footer_email }}</a>
            </div>
        {% endif %}
    </div>
    <div class="footer__center">
        {% if section.settings.secondary_logo != blank or section.settings.company_description != blank %}
            <div class="footer__company">
                {% if section.settings.secondary_logo != blank %}
                    <figure>
                        {% if section.settings.secondary_logo_link != blank %}
                            <a href="{{ section.settings.secondary_logo_link }}" target="_blank">
                        {% endif %}
                            <img src="{{ section.settings.secondary_logo | image_url }} }}" alt="cw logo" />
                        {% if section.settings.secondary_logo_link != blank %}
                            </a>
                        {% endif %}
                    </figure>
                {% endif %}
                {% if section.settings.company_description != blank %}
                    <p>{{ section.settings.company_description }}</p>
                {% endif %}
            </div>
        {% endif %}
        <div class="footer__menu">
            <ul>
                {% if section.settings.primary_link_text != blank and section.settings.primary_link_url != blank %}
                    <li>
                        <a class="link" href="{{ section.settings.primary_link_url }}">
                            <span class="link__text">
                                <span>{{ section.settings.primary_link_text }}</span>
                                <span class="duplicate">{{ section.settings.primary_link_text }}</span>
                            </span>
                            <span class="link__icon">
                                <span>
                                    <svg width="13" height="9"><use xlink:href="{{ 'sprite.svg' | asset_url }}#arr-navy"></use></svg>
                                </span>
                                <span class="duplicate">
                                    <svg width="13" height="9"><use xlink:href="{{ 'sprite.svg' | asset_url }}#arr-navy"></use></svg>
                                </span>
                            </span>
                        </a>
                    </li>
                {% endif %}
                {% if section.settings.secondary_link_text != blank and section.settings.secondary_link_url != blank %}
                    <li>
                        <a class="link" href="{{ section.settings.secondary_link_url }}">
                            <span class="link__text">
                                <span>{{ section.settings.secondary_link_text }}</span>
                                <span class="duplicate">{{ section.settings.secondary_link_text }}</span>
                            </span>
                            <span class="link__icon">
                                <span>
                                    <svg width="13" height="9"><use xlink:href="{{ 'sprite.svg' | asset_url }}#arr-navy"></use></svg>
                                </span>
                                <span class="duplicate">
                                    <svg width="13" height="9"><use xlink:href="{{ 'sprite.svg' | asset_url }}#arr-navy"></use></svg>
                                </span>
                            </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if section.blocks.size > 0 %}
        <div class="footer__bottom">
            <ul>
                {% for block in section.blocks %}
                    <li><a href="{{ block.settings.menu_link }}">{{ block.settings.menu_title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>


{% schema %}
{
    "name": "Footer",
    "tag": "footer",
    "class": "footer",
    "settings": [
        {
            "type": "text",
            "id": "footer_email",
            "label": "Footer Email"
        },
        {
            "type": "image_picker",
            "id": "secondary_logo",
            "label": "Secondary Logo"
        },
        {
            "type": "url",
            "id": "secondary_logo_link",
            "label": "Secondary Logo Link"
        },
        {
            "type": "textarea",
            "id": "company_description",
            "label": "Company Description"
        },
        {
            "type": "text",
            "id": "primary_link_text",
            "label": "Primary Link Text"
        },
        {
            "type": "url",
            "id": "primary_link_url",
            "label": "Primary Link URL"
        },
        {
            "type": "text",
            "id": "secondary_link_text",
            "label": "Secondary Link Text"
        },
        {
            "type": "url",
            "id": "secondary_link_url",
            "label": "Secondary Link URL"
        }
    ],
    "blocks": [
        {
            "type": "bottom_menu_item",
            "name": "Bottom Menu Item",
            "settings": [
                {
                    "type": "text",
                    "id": "menu_title",
                    "label": "Menu Title"
                },
                {
                    "type": "url",
                    "id": "menu_link",
                    "label": "Menu Link"
                }
            ]
        }
    ]
}
{% endschema %}