{%- if section.settings.subtitle != blank or section.settings.heading_text != blank or section.settings.offer_title != blank or section.settings.offer_description != blank or settings.buy_now_modal_product != blank -%}
	<div class="container">
		<div class="products__wrapper">
			{%- if section.settings.subtitle != blank or section.settings.heading_text != blank or section.settings.offer_title != blank or section.settings.offer_description != blank -%}
				<div class="products__col fade-in-wrapper">
					{%- if section.settings.subtitle != blank -%}
						<div class="subtitle">{{ section.settings.subtitle }}</div>
					{%- endif -%}
					
					{%- if section.settings.heading_text != blank -%}
						<h2>{{ section.settings.heading_text }}</h2>
					{%- endif -%}
					
					{%- if section.settings.offer_title != blank or section.settings.offer_description != blank -%}
						<div class="cp-offer">
							{%- if section.settings.offer_title != blank -%}
								<div class="cp-offer__title">
									<svg width="24" height="24"><use xlink:href="{{ 'sprite.svg' | asset_url }}#badge"></use></svg>
									{{ section.settings.offer_title }}
								</div>
							{%- endif -%}
							
							{%- if section.settings.offer_description != blank -%}
								<p>{{ section.settings.offer_description }}</p>
							{%- endif -%}
						</div>
					{%- endif -%}
				</div>
			{%- endif -%}

			<div class="products__col">
				<div class="products__grid">
					{%- if section.settings.buy_now_product != blank -%}
						{%- for product in section.settings.buy_now_product -%}
							{% include 'product-card', product: product, show_sizes: false %}
						{%- endfor -%}
					{% else -%}
						{% for product in collections.all.products limit: 2 %}
							{% include 'product-card', product: product, show_sizes: false %}
						{%- endfor -%}
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
{%- endif -%}

{% schema %}
{
  "name": "Products",
  "tag": "section",
  "class": "products",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Buy replacement batteries"
    },
    {
      "type": "textarea",
      "id": "heading_text",
      "label": "Heading",
      "default": "Get your <span>replacement</span> <span>batteries</span>"
    },
    {
      "type": "text",
      "id": "offer_title",
      "label": "Offer Title",
      "default": "Limited time special offer"
    },
    {
      "type": "textarea",
      "id": "offer_description",
      "label": "Offer Description",
      "default": "Use the unique code provided by your retailer at checkout for an exclusive discount."
    },
	{
        "type": "product_list",
        "id": "buy_now_product",
        "label": "Select Products"
    }
  ],
  "presets": [
    {
      "name": "Products"
    }
  ]
}
{% endschema %}
